# Node
node_modules/
**/node_modules/
package-lock.json

# Python
__pycache__/
*.pyc
*.pyo
.cache/
*.egg-info/

# Build
build/
dist/
*.o
*.so

# Logs
*.log
logs/

# System
.DS_Store
Thumbs.db
*.swp

# IDE
.vscode/
.idea/

# Temp
*.tmp
temp/
